// Copy this file to credentials.h and fill in your own values
// DO NOT commit credentials.h to Git!

#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* ssid     = "YOUR_WIFI_NAME";
const char* password = "YOUR_WIFI_PASSWORD";
const char* PC_IP    = "YOUR_PC_IP_ADDRESS";

#endif
